* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	min-height: 100vh;
	background-image: url("https://cdn.supercell.com/supercell.com/201105180339/supercell.com/files/og_clashofclans.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.forms {
	display: flex;
	width: 100%;
	flex-wrap: wrap;

	.form-group {
		display: flex;
		flex-direction: column;
		width: 350px;
		justify-content: center;
		margin: 2rem;
		color: black;
		background: rgba($color: white, $alpha: 0.7);
		border-radius: 5px;

		.content {
			padding: 2rem;

			.title {
				font-weight: normal;
				align-self: flex-start;
			}

			.form {
				display: flex;
				flex-direction: column;
				gap: 2rem;

				.tag {
					border-radius: 0;
					outline: none;
					border: solid 1px solid black;
					font-family: inherit;
					padding: 0.5rem;
					background: none;
					color: white;

					&:hover {
						box-shadow: 0px 0px 8px rgba($color: black, $alpha: 0.5);
					}
				}

				.send {
					background: none;
					outline: none;
					font-family: inherit;
					padding: 0.5rem;
					border: solid 1px black;
					cursor: pointer;

					&:hover {
						box-shadow: 0px 0px 8px rgba($color: black, $alpha: 0.5);
					}
				}
			}
		}
	}
}
